html, body{
    box-sizing: border-box;
    margin: 0;
    width: auto;
}

#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    width: 400px;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
