*{
    box-sizing: border-box;
}

html, body{
    margin: 0;
    width: 100%;
}

#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    width: 80%; 
    margin-top: 30px;
    border-radius: 10px;
    padding: 10px;
}
.column{
    display: flex;
    flex-direction: column;
}

.hover{
    display:none;
}
.card:hover .title{
    display: none;
}
.card:hover .hover{
    display: flex;
    flex-direction: column;
}
.enseignement{
    display: flex;
    justify-content: center;
    align-items: center;
}
.enseignement-text{
    display: flex;
    flex-direction: column;
}
.enseignement img{
    height: 100px;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
